@charset "UTF-8";
h1, h3, p {
	text-align: center;
}
.input-group {
}

body {
  padding-top: 70px;
}

.navbar-default  {
	padding-top: 0px;
	background-color: #000000;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0;
	text-align: center;
}
footer {
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.normal-label {
	top: 0px;
	bottom: 0px;
}

.container-fluid {
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}
.vision {
	text-align: left;
}
.feedback-form {
	border-collapse: separate;
	border-spacing: 50px 0;
	border-bottom-width: thick;
	padding-top: 10px;
    padding-bottom: 10px;
}
.label-mandatory:after {
	content:"*" ;
    color:red
}

tr td {
    padding-top: 5px;
    padding-bottom: 5px;
}
